.App {
  font-family: sans-serif;
  text-align: center;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.side-bar {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.group-nav {
  float: right;
}

/* 
.ant-menu-item .anticon,
.anticon .userAvatar {
  margin-left: 7px !important;
} */
